{{> global cssFile="auth"}}

<body>
    {{> betaBanner }}
    <div>
        {{#if success}}
            <h2>Copy the following code on the Telegram chat</h2>
            <div class="request-success">
                <img src="/img/auth_copy.svg" alt="copy">
                <code>{{data.access_token}}</code>
            </div>
        {{else}}
            <div class="request-error">
                <h2>There has been an error authorizing the app, please try again</h2>
            </div>
        {{/if}}
    </div>
</body>
</html>