{{> global cssFile="index"}}

<body>
    {{> betaBanner }}
    <div class="main">
        <h1>Telegram to Notion Bot's website</h1>
        <a href="https://t.me/TelegrmToNotionBot" class="button">Here you can visit it!</a>
        <ul>
            <li>100% Free</li>
            <li>Unlimited messages</li>
            <li>Forever</li>
        </ul>
    </div>
</body>