.main {
    display: flex;
    flex-direction: column;
}

.button {
    width: fit-content;
    
    background-color: #4797ff;
    color: #fff;

    padding: 2vh 5vw;
    
    border-radius: 5px;

    text-decoration: none;
    font-weight: bold;
}

ul {
    margin-top: 5vh;
}
ul li{
    font-size: 20pt;
    font-weight: bold;
}